*:before,
*:after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

a,
input[type='submit'],
button {
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  font: 90% Lato, sans-serif;
  margin: auto;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.02);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.02);
}

.night {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebecf2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c2c5ce;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

.night:checked + .app .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.night:checked + .app .custom-scrollbar::-webkit-scrollbar-track {
  background: #0c0d17;
}

.night:checked + .app .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #053858;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.night:checked + .app .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0967a0;
}

@-webkit-keyframes growX {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes growX {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.main-nav {
  width: 18%;
}

.main-nav::-webkit-scrollbar {
  width: 0;
}

.main-nav__compose-btn {
  background: #e54065;
  color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.main-nav__compose-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 2rem;
}

.main-nav__compose-btn svg path {
  fill: #fff;
}

.main-nav__compose-btn:hover {
  background: #a81737;
}

.main-nav__section {
  padding: 1.2rem 2rem;
}

.primary-nav {
  border-bottom: 1px solid #ebf0f2;
}

.primary-nav ul li {
  margin-bottom: 0.5rem;
}

.primary-nav ul li a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #6f6f6f;
  display: block;
  padding: 0.5rem 1rem;
}

.primary-nav ul li a span {
  position: relative;
  z-index: 100;
}

.primary-nav ul li a:hover span svg,
.primary-nav ul li a:hover span {
  color: #fff;
}

.primary-nav ul li a:hover span svg path,
.primary-nav ul li a:hover span svg circle,
.primary-nav ul li a:hover span svg polyline,
.primary-nav ul li a:hover span svg rect,
.primary-nav ul li a:hover span svg line,
.primary-nav ul li a:hover span path,
.primary-nav ul li a:hover span circle,
.primary-nav ul li a:hover span polyline,
.primary-nav ul li a:hover span rect,
.primary-nav ul li a:hover span line {
  fill: #fff;
  stroke: #fff;
}

.primary-nav ul li a:hover:after {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  background: #e54065;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  -webkit-animation: growX 0.3s;
          animation: growX 0.3s;
}

.primary-nav ul li a svg {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 1rem;
}

.primary-nav ul li a svg path,
.primary-nav ul li a svg circle,
.primary-nav ul li a svg polyline,
.primary-nav ul li a svg rect,
.primary-nav ul li a svg line {
  stroke: #333;
}

.primary-nav__badge {
  color: #e54065;
  margin-right: 1rem;
  font-weight: 550;
  float: right;
}

.label__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.label__title--icon {
  position: relative;
  width: 30px;
  height: 30px;
}

.label__title--icon svg {
  display: block;
  margin: auto;
}

.label__title--icon svg path {
  stroke: #8eaab6;
}

.label__item {
  margin-bottom: 1.5rem;
}

.label__item:hover a {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #e54065;
}

.label__item a {
  color: #636363;
}

.label__icon {
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  border: 3px solid transparent;
}

.label__icon--family {
  border-color: #f38453;
}

.label__icon--clients {
  border-color: #009eff;
}

.label__icon--work {
  border-color: #5b64e3;
}

.label__icon--friends {
  border-color: #e3496c;
}

.theme {
  margin: auto;
}

.theme__toggle {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.theme__toggle:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 512 512'%3E%3Cpath d='M160,136c0-30.62,4.51-61.61,16-88C99.57,81.27,48,159.32,48,248c0,119.29,96.71,216,216,216,88.68,0,166.73-51.57,200-128-26.39,11.49-57.38,16-88,16C256.71,352,160,255.29,160,136Z' style='fill:none;stroke:%23e54065;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3C/svg%3E");
}

.messages {
  background: #f5f6fa;
  width: 35%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages__search {
  margin-bottom: 2rem;
  position: relative;
  background: #ebecf2;
  border-radius: 5px;
}

.messages__search--box {
  background: transparent;
  width: 100%;
  padding: 1rem;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}

.messages__search--box:focus {
  background: #fcfcfd;
  border-bottom-color: #e54065;
}

.messages__search--box:focus::-webkit-input-placeholder {
  color: #e54065;
}

.messages__search--box:focus:-ms-input-placeholder {
  color: #e54065;
}

.messages__search--box:focus::-ms-input-placeholder {
  color: #e54065;
}

.messages__search--box:focus::placeholder {
  color: #e54065;
}

.messages__search--box::-webkit-input-placeholder {
  color: #c2c5ce;
}

.messages__search--box:-ms-input-placeholder {
  color: #c2c5ce;
}

.messages__search--box::-ms-input-placeholder {
  color: #c2c5ce;
}

.messages__search--box::placeholder {
  color: #c2c5ce;
}

.messages__search--btn {
  position: absolute;
  right: 1rem;
  top: 25%;
  height: 30px;
  width: 30px;
}

.messages__search--btn svg path {
  fill: #c2c5ce;
}

.messages__container {
  overflow-y: scroll;
}

.message {
  background: #fcfcfd;
  padding: 2rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-right: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.message__active, .message:hover {
  background: #fff;
}

.message:hover {
  z-index: 100;
}

.message__label {
  border-width: 2px;
  border-style: solid;
  position: absolute;
  height: 20px;
  left: 0;
}

.message__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  -ms-flex-item-align: center;
      align-self: center;
  color: #333;
}

.message__header a:hover {
  color: #e54065;
}

.message__thumb {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.message__thumb--img {
  border-radius: 50%;
}

.message__sender {
  margin-bottom: 0.5rem;
  color: inherit;
  font-size: 1.1rem;
  font-weight: bolder;
}

.message__subject {
  font-weight: 550;
}

.message__time {
  font-size: 0.75rem;
  color: #9095a2;
  position: absolute;
  right: 1rem;
  text-align: right;
}

.message__text {
  color: #9095a2;
  font-size: 0.9rem;
}

.mail {
  padding: 3rem 4rem;
  width: 47%;
  background: #fff;
  height: 100vh;
}

.mail__options {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mail__options li {
  display: inline-block;
}

.mail__options svg {
  width: 30px;
  height: 30px;
}

.mail__options svg path,
.mail__options svg rect,
.mail__options svg circle,
.mail__options svg line {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  stroke: #a4a8b5;
  fill: #a4a8b5;
}

.mail__options svg:hover path,
.mail__options svg:hover rect,
.mail__options svg:hover circle,
.mail__options svg:hover line {
  fill: #e54065;
  stroke: #e54065;
}

.mail__options--left li {
  margin-right: 1rem;
}

.mail__options--right li {
  margin-left: 1rem;
}

.msg-main__container {
  overflow-y: scroll;
  height: 90%;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.msg-main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.msg-main__head--subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.msg-main__head h2 {
  font-size: 130%;
  line-height: 1.5;
}

.msg-main__head--img {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  margin-right: 2rem;
}

.msg-main__head--img img {
  border-radius: 50%;
  width: 100%;
}

.msg-main__head--time {
  font-size: 0.9rem;
  color: #bebebe;
  right: 0;
}

.msg-main__body {
  line-height: 2;
}

.msg-main__body p {
  margin-bottom: 2rem;
}

.social {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social svg {
  width: 30px;
  height: 30px;
}

.social__twitter--icon path {
  fill: #1da1f2;
}

.social__email--icon path {
  fill: #e54065;
  stroke: #e54065;
}

.social__github--icon path {
  fill: #333;
}

.social__linkedin--icon path {
  fill: #1d81be;
}

.social__supacode--icon path {
  fill: #333;
}

.night:checked + .app .main-nav {
  background: #151728;
}

.night:checked + .app .main-nav__compose-btn {
  background: #0967a0;
}

.night:checked + .app .main-nav__compose-btn:hover {
  background: #04293f;
}

.night:checked + .app .primary-nav {
  border-bottom: 1px solid #24273b;
}

.night:checked + .app .primary-nav ul li {
  margin-bottom: 0.5rem;
}

.night:checked + .app .primary-nav ul li a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #9c9cab;
  display: block;
  padding: 0.5rem 1rem;
}

.night:checked + .app .primary-nav ul li a:hover span svg,
.night:checked + .app .primary-nav ul li a:hover span {
  color: #fff;
}

.night:checked + .app .primary-nav ul li a:hover span svg path,
.night:checked + .app .primary-nav ul li a:hover span svg circle,
.night:checked + .app .primary-nav ul li a:hover span svg polyline,
.night:checked + .app .primary-nav ul li a:hover span svg rect,
.night:checked + .app .primary-nav ul li a:hover span svg line,
.night:checked + .app .primary-nav ul li a:hover span path,
.night:checked + .app .primary-nav ul li a:hover span circle,
.night:checked + .app .primary-nav ul li a:hover span polyline,
.night:checked + .app .primary-nav ul li a:hover span rect,
.night:checked + .app .primary-nav ul li a:hover span line {
  fill: #fff;
  stroke: #fff;
}

.night:checked + .app .primary-nav ul li a:hover:after {
  background: #0967a0;
}

.night:checked + .app .primary-nav ul li a svg {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 1rem;
}

.night:checked + .app .primary-nav ul li a svg path,
.night:checked + .app .primary-nav ul li a svg circle,
.night:checked + .app .primary-nav ul li a svg polyline,
.night:checked + .app .primary-nav ul li a svg rect,
.night:checked + .app .primary-nav ul li a svg line {
  fill: #9c9cab;
  stroke: #9c9cab;
}

.night:checked + .app .primary-nav__badge {
  color: #0967a0;
}

.night:checked + .app .label__title {
  color: #9c9cab;
}

.night:checked + .app .label__item {
  margin-bottom: 1.5rem;
}

.night:checked + .app .label__item:hover a {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: #0967a0;
}

.night:checked + .app .label__item a {
  color: #9c9cab;
}

.night:checked + .app .theme__toggle:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 512 512'%3E% %3Cline x1='256' y1='48' x2='256' y2='96' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='256' y1='416' x2='256' y2='464' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='403.08' y1='108.92' x2='369.14' y2='142.86' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='142.86' y1='369.14' x2='108.92' y2='403.08' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='464' y1='256' x2='416' y2='256' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='96' y1='256' x2='48' y2='256' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='403.08' y1='403.08' x2='369.14' y2='369.14' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='142.86' y1='142.86' x2='108.92' y2='108.92' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3Ccircle cx='256' cy='256' r='80' style='fill:none;stroke:%230967a0;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/%3E%3C/svg%3E");
}

.night:checked + .app .messages {
  background: #22263a;
}

.night:checked + .app .messages__search {
  background: #151728;
}

.night:checked + .app .messages__search--box {
  background: transparent;
  border-bottom: 2px solid transparent;
}

.night:checked + .app .messages__search--box:focus {
  background: #151728;
  border-bottom-color: #0967a0;
}

.night:checked + .app .messages__search--box:focus::-webkit-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box:focus:-ms-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box:focus::-ms-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box:focus::placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box::-webkit-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box:-ms-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box::-ms-input-placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--box::placeholder {
  color: #0967a0;
}

.night:checked + .app .messages__search--btn svg path {
  fill: #0967a0;
  stroke: #0967a0;
}

.night:checked + .app .messages__container {
  overflow-y: scroll;
}

.night:checked + .app .messages .message {
  background: #151728;
}

.night:checked + .app .messages .message__active, .night:checked + .app .messages .message:hover {
  background: #0c0d17;
}

.night:checked + .app .messages .message__header a:hover {
  color: #0967a0;
}

.night:checked + .app .messages .message__sender {
  color: #9c9cab;
}

.night:checked + .app .messages .message__time, .night:checked + .app .messages .message__subject {
  color: #9c9cab;
}

.night:checked + .app .messages .message__text {
  color: #9c9cab;
}

.night:checked + .app .mail {
  background: #151728;
}

.night:checked + .app .mail__options svg path,
.night:checked + .app .mail__options svg rect,
.night:checked + .app .mail__options svg circle,
.night:checked + .app .mail__options svg line {
  stroke: #0967a0;
  fill: #0967a0;
}

.night:checked + .app .mail__options svg:hover path,
.night:checked + .app .mail__options svg:hover rect,
.night:checked + .app .mail__options svg:hover circle,
.night:checked + .app .mail__options svg:hover line {
  fill: #04293f;
  stroke: #04293f;
}

.night:checked + .app .msg-main {
  color: #9c9cab;
}

.night:checked + .app .social {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.night:checked + .app .social svg {
  width: 30px;
  height: 30px;
}

.night:checked + .app .social__twitter--icon path {
  fill: #9c9cab;
}

.night:checked + .app .social__github--icon path {
  fill: #9c9cab;
}

.night:checked + .app .social__email--icon path {
  fill: #9c9cab;
  stroke: #9c9cab;
}

.night:checked + .app .social__linkedin--icon path {
  fill: #9c9cab;
}

.night:checked + .app .social__supacode--icon path {
  fill: #9c9cab;
}

.night:checked + .app .social__codepen--icon path {
  fill: #9c9cab;
  stroke: #9c9cab;
}

@media (max-width: 1000px) {
  .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .messages,
  .main-nav,
  .mail {
    width: 100%;
  }
  .mail__options svg {
    width: 20px;
    height: 20px;
  }
  .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: scroll;
  }
  .label__item {
    margin-right: 2rem;
  }
  .theme {
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem;
    z-index: 10;
  }
  .night:checked + .app .theme {
    background: #151728;
  }
}

@media (max-height: 650px) {
  .main-nav {
    height: auto;
  }
  .main-nav::-webkit-scrollbar {
    width: 10px;
  }
}
/*# sourceMappingURL=style.css.map */