@import "utils/variables";
@import "utils/reset";

body {
  font: 90% $font-stack;
  //   background: $body-bg;

  margin: auto;
  overflow-x: hidden;
}

.app {
  width: $app-width;
  margin: auto;
  display: flex;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.02);
}

.night {
  display: none;
}
// Utility classes
@import "utils/abstracts";

// Main nav
@import "components/main-nav";

// Messages
@import "components/messages";

// Mail body
@import "components/mail-body";

// Night theme
@import "night-theme/main-nav";
@import "night-theme/messages";
@import "night-theme/mail-body";

// Responsive media queries
@import "components/responsive";
