// Colors
$body-bg: #eeeeee;
$side-bar-links: #ebf0f2;
$accent: #e54065;
$messages-bg: #f5f6fa;
$light-text: #333;

$night-accent: #0967a0;
$night-secondary: #151728;
$night-text: #9c9cab;
// $night-messages-bg: #24273b;
$night-messages-bg: #22263a;

// Typograhpy
$font-stack: Lato, sans-serif;

// Layout
$app-width: 100vw;
